
<html>
<head>
    <script type="text//javascript" 
    src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body><div id="app">
<!-- aca se renderiza toda la app-->
<h4> Nombre {{ nombre }}</h4>
<h4> Apellido {{ apellido }}</h4>

<h4> Nombre: <input type="text" v-model="nombre"> </h4>
</div>
<script>
var app = new Vue({

el:'#app',
data:{
    nombre: 'John',
    apellido: 'Wick'
},
methods: {
    nombrecompleto: function () {
        return this.nombre + this.apellido
    }
}






})








</script>
    <div>

    </div>
    
</body>
</html>