<html lang="en">
<head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
        </script>
  
</head>
<body>
        <div id="app">

                <!-- 
        
                    antes cambios en el modelo del vue sufren cambios el componente asosiado
         
                        -->
             
                     <hr>
                     <h4>Nombre : {{ nombre }}</h4>
                     <input type="text" v-model="edad">
                     <hr/> 
                     <c_uno v-bind:age="edad"></c_uno>                       
        
                   
                </div>
        
                <script>
                    Vue.component('c_uno',{
                        props: {
                            age: String,
                        },
                        template: '<div><h4>Edad: {{ age }} </h4> ' + 
                                '</div>'
                    });
        
                    var app = new Vue({
                        el: '#app',
                        data: {
                            nombre:'john',
                            edad: '49'
                        },
                       
                       
                       
                       
                       })
                        </script>
     </div>
    
</body>
</html>