<html>
    <head>
        <script type="text/javascript" 
                src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
        </script>
    </head>
    <body>
        <div id="app">
            <!-- Aca se renderiza toda la aplicacion VueJS -->
            <c_2 cod_cliente="505050" razon_so_Cli="sociedadhermanos"vendedor="pepito"  ></c_2>
           <!--
            <div> <h4>codigo: {{ cod_cliente }}</h4>
            <h4>razonsocial: {{ razon_so_Cli }} </h4>
            <h4>vendedor: {{ vendedor }} </h4> 
             </div>  --><hr/> 
            <c_uno calle="120" localidad="algun_lado"></c_uno>
            <div> <hr/>

            <c_3 cod_empresa="505050" razon_so_Emp="sociedadhermanos"vendedor="rubro"  ></c_3>
             <!--<h4>codigo: {{ cod_empresa }}</h4>
            <h4>razonsocial: {{ razon_so_Emp }} </h4>
            <h4>rubro: {{ rubro }} </h4>-->
            <hr/>
            <c_uno calle="50" localidad="lugano"></c_uno></div>
        </div>

        <script>
            Vue.component('c_uno', {
                props: {
                    calle: String,
                    localidad: String,
                    altura: {
                        type: Number,
                        default: 120,
                        required: false,
                        validator: function(value) {
                            return value >=100;
                        }
                    }
                },
                template: '<div><h4>Calle: {{ calle }}  </h4><h4>Localidad: {{ localidad }}  </h4><h4>Altura: {{ altura }} </h4></div>'  
                
                
            });
            Vue.component('c_3', {
                props: {
                    cod_empresa: String,
                    razon_so_Emp: String,
                    rubro:String
                },
                template: '<div><h4>cod_empresa: {{ cod_empresa }}  </h4><h4>razon_so_Emp: {{ razon_so_Emp }}  </h4><h4>rubro: {{ rubro }} </h4></div>'  
                
                
            });








            Vue.component('c_2', {
                props: {
                    cod_cliente: String,
                    razon_so_Cli: String,
                    vendedor:String
                },
                template: '<div><h4>cod_cliente: {{ cod_cliente }}  </h4><h4>razon_so_Cli: {{ razon_so_Cli }}  </h4><h4>vendedor: {{ vendedor }} </h4></div>'  
                
                
            });

            var app = new Vue({
                el: '#app',
                data: {
                    codigo: 'John',
                    razonSocial: 'Wick',
                    edad: 49
                },
                methods: {
                    nombreCompleto: function() {
                        return this.nombre + ' ' + this.apellido;
                    }
                },
            });
        
        </script>

    </body>
</html>
