<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script type="text/javascript" 
                src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
        </script>
</head>
<body>
        <div id="app">
                <!-- Aca se renderiza toda la aplicacion VueJS -->
                       <!--agregado de computed , van a ser funciones
                        que deben si o si devolver algo
                -->
              <div> 
    
                         <!--<h4>codigo: {{ cod_empresa }}</h4>
                <h4>razonsocial: {{ razon_so_Emp }} </h4>
                <h4>rubro: {{ rubro }} </h4>-->
                <h4>Nombre: {{nombre}}</h4>
                <h4>Apellido: {{nombre}}</h4>
                <h4>Nombre completo (metodo): {{nombreCompleto()}}</h4>
                <h4>Nombre completo (computed): {{getnombrecompleto}}</h4>
               
                  </div>

                  <script>

                        var app = new Vue({
                            el: '#app',
                            data: {
                                nombre: 'John',
                                apellido: 'Wick',
                                edad: 49
                            },
                            methods: {
                                nombreCompleto: function() {
                                    return this.nombre + ' ' + this.apellido;
                                }
                            },
                            computed: {
                                getnombrecompleto: function() {
                                    return this.nombre + ' ' + this.apellido;
                                }
                            }
                        });
                    
                    </script>







    
</body>
</html>