<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
    </script>
</head>

<body>
    <div id="app">

        <!-- Ejemplificacion de cuando cambian el resultado de las computed
                        estas se evaluan 1 sola vez, solo van a camabiar cuando
                        el estado que le concierne cambie.

                        Con estas opciones , reducimos el consumo del browser.
                        Reduciendo criticamente , el crecimiento del consumo
                        del browser.
                -->
        <div>


            <h4>Nombre: {{nombre}}</h4>
            <h4>Apellido: {{nombre}}</h4>
            <h4>Nombre completo (metodo): {{nombreCompleto()}}</h4>
            <h4>Nombre completo (computed): {{getnombrecompleto}}</h4>

        </div>

        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    nombre: 'John',
                    apellido: 'Wick',
                    edad: 49
                },
                methods: {
                    nombreCompleto: function () {
                        return this.apellido + " " + Math.random();
                    }
                },
                computed: {
                    getnombrecompleto: function () {
                        return this.nombre + " " + Math.random();
                    }
                }
            });

        </script>








</body>

</html>