<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
    </script>
</head>

<body>
    <div id="app">

        <!-- 

            Los computed pueden contener la cantidad de gets y sets, que uno desee , siempre que
            tenga almenos una de las funciones contenidas dentro del computed un get o /return


            v-model vincula el dato del modelo con un dato del componente.
            De esta forma nos permite linkear una computed a un modelo ,con lo que nospermite llenar
            el input del vmodel atra vez de las propertys del computed , en este caso nombreCompleto

                -->
     

                <input type="text" v-model="nombre"/>
                <input type="text" v-model="nombreCompleto"/>

            <h4>Nombre: {{ nombre }}</h4>
            <h4>Apellido: {{ apellido }}</h4>
        </div>

        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    nombre: 'John',
                    apellido: 'Wick',
                    calle= 'yatay',
                    numero = '500'
                },
               
                computed: {
                    nombreCompleto: {
                    get: function () {
                        return this.apellido + " " +this.apellido();
                    }
                },
                    set: function (valor) {
                        var x = valor.split( );
                        this,nombre = x[0];
                        this.apellido = x[1];

                    }
                },
                direccioncompleta: {
                    get: function(){
                        return this.calle + ' ' + this.numero;
                    },
                    set: function(valor) {
                        //set de la direccion
                    }
                },
                watch: {
                    nombre: function(val){
                        console.log(val);
                    }
                }

            });
        

        </script>


</body>

</html>