<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
    </script>
</head>

<body>
    <div id="app">

        <!-- 

            Los computed pueden contener la cantidad de gets y sets, que uno desee , siempre que
            tenga almenos una de las funciones contenidas dentro del computed un get o /return


            v-model vincula el dato del modelo con un dato del componente.
            De esta forma nos permite linkear una computed a un modelo ,con lo que nospermite llenar
            el input del vmodel atra vez de las propertys del computed , en este caso nombreCompleto


             <h4>Pesos: {{ pesos }}</h4>
            <h4>Dolares: {{ Dolares }}</h4>

                -->
     

                <input type="text" v-model = "pesos"/>
                <input type="text" v-model = "dolares"/>

                

           
        </div>

        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    pesos: 0,
                    dolares: 0,

                },
            
                watch:{
                    pesos: function(val){
                       this.dolares = val/45;
                    } ,
                    dolares: function(val){
                       this.pesos = val*45;
                    } 
                }
               
            });
        

        </script>


</body>

</html>