<html lang="en">
<head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
        </script>
  
</head>
<body>
        <div id="app">

                <!-- 
        
                    v-if , v-else
        
                        -->
             
        
                      <h4 v-if="mostrar"> Nombre: {{ nombre }} </h4>
                      <h4 v-if="edad >= 18"> Es mayor  </h4>
                      <h4 v-else-if="edad >= 16"> Es menor votante </h4>
                      <h4 v-else> Es un pibe </h4>
                        
        
                   
                </div>
        
                <script>
        
                    var app = new Vue({
                        el: '#app',
                        data: {
                            nombre: "john",
                            edad: 15,
                            mostrar: true
        
                        },})
                        </script>

    
</body>
</html>