<html lang="en">
<head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
        </script>
  
</head>
<body>
        <div id="app">

                <!-- 
        
                    ciclos for
        
                        -->
             
        
                      <ul>
                          <li v-for="nro in valores">
                                  {{ nro.numero }} {{ nro.texto }}
                          </li>
                      </ul>
                        
        
                   
                </div>
        
                <script>
        
                    var app = new Vue({
                        el: '#app',
                        data: {
                           valores: [
                               { numero:'1', texto:"uno"},
                               { numero:'2', texto:"dos"},
                               { numero:'3', texto:"tre"},
                               { numero:'4', texto:"cuatro"},
                               { numero:'5', texto:"cinco"},
                               { numero:'6', texto:"seis"},
                               { numero:'7', texto:"siete"}
                           ],
                        },
                       
                       
                       
                       
                       })
                        </script>
     </div>
    
</body>
</html>