<template>
    
<div>
<h3> User</h3>
<input type="text" v-model="User">
<div>
<input type="text" v-model="Password">
</div>
<div>
    <button v-on:click="logear">logear </button>
</div>
<button v-on:click="registrar" >Registrarce</button>
</div>



</template>

<script>
export default {
 logear :function(Password , User){
     if (User == "Pepito") {
         if(Password == 123){
             return true
         }
         else {
             return false
         }
        
     }
     else{
          return false
     }
 }}
</script>


